<!DOCTYPE html>
<html>
<head>
    <title>Upload File</title>
    <script src="{{ url_for('static', filename='JS/upload_file.js') }}"></script>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>Upload File</h1>
    <div id="showImage">
        <img id="preview" style="display:none;" alt="Image Preview">
    </div>
    <form id="uploadForm" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="fileInput" class="form-label">Select file</label>
          <input type="file" class="form-control" id="fileInput" name="file">
        </div>
        <button type="submit" class="btn btn-outline-primary">Upload</button>
      </form>
    {% endblock %}
</body>
</html> 