.nav-item .nav-link {
    color: white;
    font-weight: bold;
}

.nav-item .nav-link:hover {
    background-color: #003366;
}

.card {
    border-radius: 1rem;
    border: none;
    background: linear-gradient(145deg, #f0f4f8, #cfd8dc);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card-body {
    background-color: #f8f9fa;
    border-radius: 10px;
}